# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
builded_application/build_and_start.sh
builded_application/Dockerfile
builded_application/build/asset-manifest.json
builded_application/build/favicon.ico
builded_application/build/index.html
builded_application/build/logo192.png
builded_application/build/logo512.png
builded_application/build/manifest.json
builded_application/build/robots.txt
builded_application/build/static/css/main.073c9b0a.css
builded_application/build/static/css/main.073c9b0a.css.map
builded_application/build/static/js/787.34952539.chunk.js
builded_application/build/static/js/787.34952539.chunk.js.map
builded_application/build/static/js/main.7dc3fc4b.js
builded_application/build/static/js/main.7dc3fc4b.js.LICENSE.txt
builded_application/build/static/js/main.7dc3fc4b.js.map
builded_application/build/static/media/logo.6ce24c58023cc2f8fd88fe9d219db6c6.svg
